 .nav-item{
    padding: 0 20px 0 20px;
  }
  .mk__appointment{
    color: #fff !important;
  }
  .notif_count{
    position: relative;
    top: -9px;
    left: -10px;
    border-radius: 100px;
    padding: 4px;
    width: 15px;
    font-size: 10px;
    height: 15px;
    display: none;
  }