.dropzone.dz-clickable {
    border-radius: 10px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: pink;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container{
	height: 40pc;
	margin-top:20px; 
}
#content{
	width: 83% !important;
}
.polygon{
	clip-path: polygon(0 0, 99% 0, 102% 99%, 0 60%) !important;
}
